body{
	font-family: "微软雅黑";
	background: url(../img/凯尔希.png);
	font-size: 18px;
}
nav{
	margin-top: 0;
	background-color: black;
}
nav ul{
	width: 1200px;
	margin: 0 auto;
	display: inline;
}
nav ul li{
	display: inline-block;
	line-height: 50px;
	width: 120px;
	text-align: center;
	position: relative;
}
nav input{
	float: right;
	margin: 9px;
	padding: 7px;
}
a{
	text-decoration: none;
}
nav .B>li:last-child{     /*导航栏*/
	background-color: orange;
}
nav ul li .one :hover{
	background-color:red;
}
nav ul li a:link,nav ul li a:visited{
	color: #fff;
	font-weight: bold;
}
nav ul li ol{
	position: absolute;
	background-color:red;
	display: none;
}
nav ul li:hover ol{
	display: block;
}
nav img{
	height: 30px;
	width: 100px;
}
form{
	display: inline;
	background-color: black;
	opacity: 0.6;
	color: wheat;
	width: 680px;
	height: 600px;
	margin: 60px;
	padding-right:160px;
	position: absolute;
	right: 25%;
	top: 60px;				
}
form p{
	padding-right: 20px;
	font-size: 10px;
}
h2{
	text-align: center;
	margin: 0;
}
p{
	margin-top: 20px;
}
p span{
	width: 100px;
	height: 25px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}
p input{
	width: 200px;
	height: 18px;
	border: 1px solid #d4cdba;
	padding: 2px;
}
.lucky input{
	width: 100px;
	height: 24px;
}
.btn input{
	width: 100px;
	height: 30px;
	background: #93b518;
	margin-top: 20px;
	margin-left: 75px;
	border-radius: 3px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #fff;
}
:root{
	color: white;
}
.right{
	display: inline;
	margin-top: 50px;
	width: 380px;
	height: 600px;
	float: right;
	padding: -90px;
	margin: 60px;
	background: black;
	opacity: 0.6;
}
.right h2{
	color: red;
	padding-left:5px
	font-size:30px;
	border-bottom: 1px solid #ccc;
	background: url(img/竖号.jpg) no-repeat center left;
}
.right h3{
	color: red;
	font-size: 18px;
	margin: 10px 0;
}
.right p{
	line-height: 2em;
	text-indent: 2em;
}
section p{
	color: white;
}
h1 h2 h3{
	color: red;
}
#banner{
	width: 100px;
	height: 100px;
	float: right;
	right: 200px;
}
#banner img{
	width: 370px;
	height: 600px;
}
#test1{
    background-color: aliceblue;
    position: fixed;
    right:10px;
    top:620px;
}
#test1 img{
	width: 130px;
	height: 130px;  
}